
.vs
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/JoestarEngine/v16/.suo
.vs/JoestarEngine/v16/Browse.VC.db
.vs/JoestarEngine/v16/Browse.VC.db-shm
.vs/JoestarEngine/v16/Browse.VC.db-wal
.vs/JoestarEngine/v16/Browse.VC.opendb
.vs/JoestarEngine/v16/ipch/AutoPCH/ac6c2254c6765810/MAIN.ipch
*.exe
*.pdb
*.tlog
*.html
*.obj
*.exe
*.log
*.ilk
glfw-3.3.4/build
glfw-3.3.4/docs
glfw-3.3.4/examples
glfw-3.3.4/tests
glfw-3.3.4/CMake
glm-master/doc
glm-master/test
.vs/JoestarEngine/v16/ipch/AutoPCH/62f52454aa9ccf7e/MAIN.ipch
*.ilk
*.recipe
