
.vs
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/JoestarEngine/v16/.suo
.vs/JoestarEngine/v16/Browse.VC.db
.vs/JoestarEngine/v16/Browse.VC.db-shm
.vs/JoestarEngine/v16/Browse.VC.db-wal
.vs/JoestarEngine/v16/Browse.VC.opendb
.vs/JoestarEngine/v16/ipch/AutoPCH/ac6c2254c6765810/MAIN.ipch
*.exe
*.pdb
*.tlog
*.html
*.obj
*.exe
*.log
*.ilk
*.cmake
ThirdParty/glfw-3.3.4/build
ThirdParty/glfw-3.3.4/docs
ThirdParty/glfw-3.3.4/out
ThirdParty/glfw-3.3.4/examples
ThirdParty/glfw-3.3.4/tests
ThirdParty/glfw-3.3.4/CMake
ThirdParty/glfw-3.3.4/out
ThirdParty/glm-master/doc
ThirdParty/glm-master/test
.vs/JoestarEngine/v16/ipch/AutoPCH/62f52454aa9ccf7e/MAIN.ipch
*.ilk
*.recipe
JoestarEngine/x64
*.log
*.obj
